@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow {
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(36, 36, 36, 0.10);
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.code {
  p {
    margin-bottom: 20px;
  }
  list-style: inside!important; 
}

.markdown {
  code {
    background: #eee;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 500px;
    color: black;
  }

  pre {
    background-color: black;
    direction: ltr;
  }

  pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 0;
  }
}

/* Code Mirror Definitions */ 
.ͼ1.cm-focused {
  outline: none;
}

.ͼ2 .cm-activeLineGutter {
  background-color: transparent;
}

.cm-placeholder {
  color: rgb(189, 189, 189) !important;
}

.cm-activeLineGutter {
  color: rgb(189, 189, 189) !important;  
}

.cm-gutterElement {
  color: #eee;
}

.ͼ2 .cm-gutters {
  border-right: none;
}

.ͼ3 .cm-gutters {
  background-color: transparent;
}

.cm-editor {
  height: 100%;
}

/* Math Field definitions */ 

math-field {
  outline: none!important;
  font-size: 20px;
}

math-field::part(container):host(:focus) {
  outline: none!important;
}

math-field::part(container):host(:focus-within) {
  outline: none!important;
}

/* Hide the menu toggle */
math-field::part(menu-toggle) {
display: none;
}

/* Hide the virtual keyboard toggle */
math-field::part(virtual-keyboard-toggle) {
display: none;
}

